<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.fairybook.vo.FBResource" alias="FBResource" />
		<typeAlias type="global.sesoc.fairybook.vo.ETC" alias="ETC" />
		<typeAlias type="global.sesoc.fairybook.vo.Fairytale" alias="Fairytale" />
		<typeAlias type="global.sesoc.fairybook.vo.House" alias="House" />
		<typeAlias type="global.sesoc.fairybook.vo.Avatar" alias="Avatar" />
		<typeAlias type="global.sesoc.fairybook.vo.Item" alias="Item" />
		<typeAlias type="global.sesoc.fairybook.vo.PBoard" alias="PBoard" />
		<typeAlias type="global.sesoc.fairybook.vo.PReply" alias="PReply" />
		<typeAlias type="global.sesoc.fairybook.vo.Quiz" alias="Quiz" />
		<typeAlias type="global.sesoc.fairybook.vo.Scene" alias="Scene" />
		<typeAlias type="global.sesoc.fairybook.vo.StoryMaker" alias="StoryMaker" />
		<typeAlias type="global.sesoc.fairybook.util.PoiForData" alias="PoiForData" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/IDMapper.xml" />
		<mapper resource="mapper/avatarMapper.xml" />
		<mapper resource="mapper/houseMapper.xml" />
		<mapper resource="mapper/storyMapper.xml"/>
		<mapper resource="mapper/boardMapper.xml"/>
		<mapper resource="mapper/ExcelMapper.xml"/>
	</mappers>
	
	
</configuration>
