/* 아바타 페이지 css */
@CHARSET "UTF-8";

/*아바타를 표시하는 영역*/
#avatar{
	margin: 0px;
	width : auto;
	height: 500px;
	border: 1px solid black;
	background-image: url("../img/avatar/background.png");
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	background-color: rgba( 255, 255, 255, 0.8 );
}

/* 이미지 크기 자동 조정 */
img{
	max-width : 100%;
	height: auto;
}

/* 아바타의 얼굴이미지 */
#face{
	position: absolute;
	left: 48%;
	top: 30%;
	z-index: 3;
}

/* 아바타의 헤어이미지 */
#hair{
	position: absolute;
	left: 48%;
	top: 30%;
	z-index: 1;
}

/* 아바타의 눈이미지 */
#eye{
	position: absolute;
	left: 48%;
	top: 30%;
	z-index: 4;
}

/* 아바타의 코이미지 */
#nose{
	position: absolute;
	left: 48%;
	top: 30%;
	z-index: 5;
}

/* 아바타의 입이미지 */
#mouth{
	position: absolute;
	left: 48%;
	top: 30%;
	z-index: 6;
}

/* 아바타의 귀이미지 */
#ear{
	position: absolute;
	left: 48%;
	top: 30%;
	z-index: 2;
}

/* 아바타의 몸이미지 */
#body{
	position: absolute;
	left: 48%;
	top: 30%;
	z-index: 2;
}

/*아바타의 신체부위 선택하는 영역*/
#category{
	margin: 0px;
	width : auto;
	height: 100px;
	border: 1px solid black;
	top: 60%;
}

/* 얼굴 버튼 */
#facebtn{
	background-image:url('../img/util/facebtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 헤어 버튼 */
#hairbtn{
	background-image:url('../img/util/hairbtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 눈 버튼 */
#eyebtn{
	background-image:url('../img/util/eyebtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 코 버튼 */
#nosebtn{
	background-image:url('../img/util/nosebtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 입 버튼 */
#mouthbtn{
	background-image:url('../img/util/mouthbtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 귀 버튼 */
#earbtn{
	background-image:url('../img/util/earbtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 몸 버튼 */
#bodybtn{
	background-image:url('../img/util/bodybtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


/* 해당 신체부위의 디테일 선택하는 영역 */
#detail{
	margin: 0px;
	width : auto;
	height: 157px;
	border: 1px solid black;
	top: 400px;
}

/* 저장버튼이 있는 영역 */
#saveArea{
	margin: 0px;
	width : 100px;
	height: 100px;
	float: right;
}
/* 저장 버튼 */
#savebtn{
	width : 99%;
	height: 99%;
	display: none;
	background-image:url('../img/util/savebtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 리셋 버튼 */
#resetbtn{
	width : 100px;
	height: 100px;
	background-image:url('../img/util/resetbtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


/* 색 선택하는 영역 */
#color{
	margin: 0px;
	width : 25%;
	height: 150px;
	float: right;
}

/* 색 버튼 클래스 */
.color{
	margin: 0px;
	width : 33.3%;
	height: 33.3%;
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 대분류 버튼 클래스 */
.category{
	margin: 0px;
	width : 14.28%;
	height: 99%;
}

/* db에서 가져온 그림들 */
.items{
	margin: 0px;
	width : 100px;
	height: 100px;
}
