/* 기타 색칠 페이지 css */
@CHARSET "UTF-8";

/* 기타요소 표시하는 영역*/
#etc{
	margin: 0px;
	width : auto;
	height: 80%;
	border: 1px solid black;
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	background-color: rgba( 255, 255, 255, 0.8 );
}

/* 선택요소 배경 */
#selection0{
	position: absolute;
	left: 25%;
	top: 15%;
	z-index: 1;
}

/* 현재 선택된 개체 */
#currentObject{
	z-index: 5;
}

/* 선택요소 */
.selection{
	position: absolute;
	left: 25%;
	top: 15%;
	z-index: 10;
}

/* 이미지 크기 자동 조정 */
img{
	max-width : 100%;
	height: auto;
}

/* 저장버튼이 있는 영역 */
#saveArea{
	margin: 0px;
	width : 100px;
	height: 100px;
	float: right;
}
/* 저장 버튼 */
#savebtn{
	width : 99%;
	height: 99%;
	background-image:url('../img/util/savebtn.gif');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 리셋 버튼 */
#resetbtn{
	width : 100px;
	height: 100px;
	background-image:url('../img/util/resetbtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


/* 색 버튼 클래스 */
.category{
	margin: 0px;
	width : 11.1%;
	height: 99%;
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/*색 버튼 영역*/
#category{
	margin: 0px;
	width : auto;
	height: 20%;
	border: 1px solid black;
	top: 60%;
}

/* 빨강 버튼 */
#Red{
	background-image:url('../img/util/redbtn.png');
}

/* 주황 버튼 */
#Orange{
	background-image:url('../img/util/orangebtn.png');
}

/* 노랑 버튼 */
#Yellow{
	background-image:url('../img/util/yellowbtn.png');
}

/* 초록 버튼 */
#Green{
	background-image:url('../img/util/greenbtn.png');
}

/* 파랑 버튼 */
#Blue{
	background-image:url('../img/util/bluebtn.png');
}

/* 보라 버튼 */
#Purple{
	background-image:url('../img/util/purplebtn.png');
}

/* 하양 버튼 */
#White{
	background-image:url('../img/util/whitebtn.png');
}

/* 회색 버튼 */
#Gray{
	background-image:url('../img/util/graybtn.png');
}

/* 검정 버튼 */
#Black{
	background-image:url('../img/util/blackbtn.png');
}
