/* 집만들기 페이지 css */
@CHARSET "UTF-8";

/*집 표시하는 영역*/
#house{
	margin: 0px;
	width : auto;
	height: 60%;
	border: 1px solid black;
	background-image: url("../img/house/background.jpg");
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	background-color: rgba( 255, 255, 255, 0.8 );
}

/* 이미지 크기 자동 조정 */
img{
	max-width : 100%;
	height: auto;
}

/* 집의 지붕이미지 */
#roof{
	position: absolute;
	left: 28%;
	top: 10%;
	z-index: 2;
}

/* 집의 문이미지 */
#door{
	position: absolute;
	left: 28%;
	top: 10%;
	z-index: 4;
}

/* 집의 창문이미지 */
#window{
	position: absolute;
	left: 28%;
	top: 10%;
	z-index: 3;
}

/* 집의 굴뚝이미지 */
#chimney{
	position: absolute;
	left: 28%;
	top: 10%;
	z-index: 5;
}

/* 집의 마당이미지 */
#yard{
	position: absolute;
	left: 58%;
	top: 10%;
	z-index: 6;
}

/* 집의 벽이미지 */
#wall{
	position: absolute;
	left: 28%;
	top: 10%;
	z-index: 1;
}

/*집의 부위 선택하는 영역*/
#category{
	margin: 0px;
	width : auto;
	height: 20%;
	border: 1px solid black;
	top: 60%;
}

/* 해당 부위의 디테일 선택하는 영역 */
#detail{
	margin: 0px;
	width : auto;
	height: 20%;
	border: 1px solid black;
	top: 80%;
}

/* 저장버튼이 있는 영역 */
#saveArea{
	margin: 0px;
	width : 100px;
	height: 100px;
	float: right;
}
/* 저장 버튼 */
#savebtn{
	width : 99%;
	height: 99%;
	display: none;
	background-image:url('../img/util/savebtn.gif');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 리셋 버튼 */
#resetbtn{
	width : 100px;
	height: 100px;
	background-image:url('../img/util/resetbtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 도움 버튼 */
#helpbtn{
	width : 99%;
	height: 99%;
	display: block;
	background-image:url('../img/util/helpbtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 색 선택하는 영역 */
#color{
	margin: 0px;
	width : 30%;
	height: 100%;
	float: right;
}

/* 색 버튼 클래스 */
.color{
	margin: 0px;
	width : 33.3%;
	height: 33.3%;
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 대분류 버튼 클래스 */
.category{
	margin: 0px;
	width : 16.65%;
	height: 99%;

}

/* db에서 가져온 그림들 */
.items{
	margin: 0px;
	width : 100px;
	height: 100px;
}

/* 벽 버튼 */
#wallbtn{
	background-image:url('../img/util/wallbtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 지붕 버튼 */
#roofbtn{
	background-image:url('../img/util/roofbtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 창문 버튼 */
#windowbtn{
	background-image:url('../img/util/windowbtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 문 버튼 */
#doorbtn{
	background-image:url('../img/util/doorbtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 굴뚝 버튼 */
#chimneybtn{
	background-image:url('../img/util/chimneybtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 나무 버튼 */
#yardbtn{
	background-image:url('../img/util/yardbtn.png');
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
