/* 집만들기 페이지 css */
@CHARSET "UTF-8";

/*집 표시하는 영역*/
#house{
	margin: 0px;
	position: absolute;
	width : 79%;
	height: 59%;
	border: 1px solid black;
	left: 20%;
	background-image: url("../img/house/background.jpg");
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	background-color: rgba( 255, 255, 255, 0.8 );
}

/* 이미지 크기 자동 조정 */
img{
	max-width : 100%;
	height: auto;
}

/* 집의 지붕이미지 */
#roof{
	position: absolute;
	left: 40%;
	top: 20%;
	z-index: 1;
}

/* 집의 문이미지 */
#door{
	position: absolute;
	left: 40%;
	top: 18%;
	z-index: 2;
}

/* 집의 창문이미지 */
#window{
	position: absolute;
	left: 50%;
	top: 40%;
	z-index: 3;
}

/* 집의 굴뚝이미지 */
#chimney{
	position: absolute;
	left: 50%;
	top: 45%;
	z-index: 4;
}

/* 집의 마당이미지 */
#yard{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 5;
}

/* 집의 벽이미지 */
#wall{
	position: absolute;
	left: 55%;
	top: 45%;
	z-index: 5;
}

/*집의 부위 선택하는 영역*/
#category{
	margin: 0px;
	position: absolute;
	width : 79%;
	height: 10%;
	border: 1px solid black;
	left: 20%;
	top: 60%;
}

/* 해당 부위의 디테일 선택하는 영역 */
#detail{
	margin: 0px;
	position: absolute;
	width : 50%;
	height: 30%;
	border: 1px solid black;
	left: 20%;
	top: 70%;
}

/* 저장버튼이 있는 영역 */
#saveArea{
	margin: 0px;
	position: absolute;
	right: 0.5%;
	bottom: 0.5%;
	width : 15%;
	height: 15%;
}
	/* 저장 버튼 */
	#savebtn{
		width : 99%;
		height: 99%;
		display: none;
	}

/* 색 선택하는 영역 */
#color{
	margin: 0px;
	position: absolute;
	width : 29%;
	height: 30%;
	border: 1px solid black;
	left: 70%;
	top: 70%;
}

/* 색 버튼 클래스 */
.color{
	margin: 0px;
	width : 33.3%;
	height: 33.3%;
}

/* 대분류 버튼 클래스 */
.category{
	margin: 0px;
	width : 16.65%;
	height: 99%;

}

/* db에서 가져온 그림들 */
.items{
	margin: 0px;
	width : 10%;
	height: 10%;
}

/* 빨강버튼 */
#red{
	background-color: red;
}

/* 주황버튼 */
#orange{
	background-color: orange;
}

/* 노랑버튼 */
#yellow{
	background-color: yellow;
}

/* 초록버튼 */
#green{
	background-color: green;
}

/* 파랑버튼 */
#blue{
	background-color: blue;
}

/* 보라버튼 */
#purple{
	background-color: purple;
}

/* 흰색버튼 */
#white{
	background-color: white;
}

/* 회색버튼 */
#gray{
	background-color: gray;
}

/* 검정버튼 */
#black{
	background-color: black;
}