<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.fairybook.mapper.AnalysisMapper">

 
<!-- 지역 선택시 세부지역 및 병원관련정보 제공 -->
<select id="selectHospital" parameterType="String" resultType="Counselor">
select * from counselor where region = #{region}
</select>

<!-- 세부지역 선택시 병원관련정보 제공-->
<select id="selectHospital1" parameterType="String" resultType="Counselor">
select * from counselor where country = #{country}
</select>
</mapper>