<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.fairybook.mapper.AnalysisMapper">

 
<!-- 지역 선택시 세부지역 및 병원관련정보 제공 -->
<select id="selectHospital" parameterType="String" resultType="Counselor">
select * from counselor where region = #{region}
</select>

<!-- 세부지역 선택시 병원관련정보 제공-->
<select id="selectHospital1" parameterType="String" resultType="Counselor">
select * from counselor where country = #{country}
</select>

<!-- 아바타 가져오기 -->
<select id="avatarAnalysis" parameterType="int" resultType="FBResource">
	select f.resourcenum, f.analysis, f.path, f.name
	from fbresource f, madeavatar m
	where f.resourcenum in(m.face, m.nose, m.mouth, m.ear) and m.selectionnum = #{selectionNum}
	union
	select f.resourcenum, f.analysis, c.path, c.name
	from fbresource f, resourcecolor c, (select * from madeavatar where selectionnum = #{selectionNum}) m
	where f.resourcenum = m.hair 
		and m.hair = c.resourcenum
		and m.hairColor = c.color
	union
	select f.resourcenum, f.analysis, c.path, c.name
	from fbresource f, resourcecolor c, (select * from madeavatar where selectionnum = #{selectionNum}) m
	where f.resourcenum = m.eye 
		and m.eye = c.resourcenum
		and m.eyeColor = c.color
	union
	select f.resourcenum, f.analysis, c.path, c.name
	from fbresource f, resourcecolor c, (select * from madeavatar where selectionnum = #{selectionNum}) m
	where f.resourcenum = m.body 
		and m.body = c.resourcenum
		and m.bodyColor = c.color
</select>

<select id="houseAnalysis" parameterType="int" resultType="FBResource">
	select f.resourcenum, f.analysis, f.path, f.name
	from fbresource f, madehouse m
	where f.resourcenum in(m.door, m.window, m.chimney) and m.selectionnum = #{selectionNum}
	union
	select f.resourcenum, f.analysis, c.path, c.name
	from fbresource f, resourcecolor c, (select * from madehouse where selectionnum = #{selectionNum}) m
	where f.resourcenum = m.roof 
		and m.roof = c.resourcenum
		and m.roofColor = c.color
	union
	select f.resourcenum, f.analysis, c.path, c.name
	from fbresource f, resourcecolor c, (select * from madehouse where selectionnum = #{selectionNum}) m
	where f.resourcenum = m.wall 
		and m.wall = c.resourcenum
		and m.wallColor = c.color
</select>

<select id="treeAnalysis" parameterType="int" resultType="FBResource">
	select 
		* 
	from 
		fbresource 
	where 
		resourcenum=(
			select 
				yard 
			from 
				madehouse 
		 	where 
		 		selectionnum=#{selectionNum}
		 	)
</select>

<select id="getColorData" parameterType="int" resultType="HashMap">
	select
		a.eyecolor,a.haircolor,a.bodycolor
		,h.roofcolor,h.wallcolor
		,e.selection1color,e.selection2color,e.selection3color,e.selection4color
		,e.selection5color,e.selection6color,e.selection7color,e.selection8color
		,e.selection9color,e.selection10color,e.selection11color,e.selection12color
	from madeavatar a, madehouse h, etc e
	where a.selectionnum = h.selectionnum
	and h.selectionnum = e.selectionnum
	and a.selectionnum = e.selectionnum
	and e.selectionnum=#{selectionnum}
	</select>

<select id="getQuizResult" parameterType="int" resultType="SolvedQuiz">
select
	a.selectionnum as selectionnum
	,q.quiznum as quiznum
	,q.question as question
	,q.select1 as select1
	,q.select2 as select2
	,nvl(q.select3,'') as select3
	,nvl(q.select4,'') as select4
	,q.answer as answer
	,q.division as division
	,a.myanswer as myanswer
from
	quiz q
	, scene s
	,(select myanswer,scenenum,selectionnum from selectiondetail where selectionnum = #{selectionnum}) a 
where s.quiznum = q.quiznum
and q.division = 1
and a.scenenum= s.scenenum
and s.scenenum in(select scenenum from selectiondetail where selectionnum = #{selectionnum})
and q.answer is not null
and q.answer != -1
</select>

<select id="getColorName" resultType="String">
	select colorname from fbcolor order by colornum asc
</select>

<select id="getColorAnalysis" parameterType="int" resultType="String">
	select coloranalysis from fbcolor where colornum = #{colornum}
</select>

<select id="getETC" parameterType="int" resultType="ETC">
	select * from ETC where selectionNum = #{selectionNum}
</select>

<insert id="insertForMBTI" parameterType="map">
	insert into MBTI(selectionNum, EI, SN, TF, JP)
	values(#{selectionNum}, #{EI}, #{SN}, #{TF}, #{JP})
</insert>

<select id="getMBTI" parameterType="int" resultType="MBTI">
	select * from MBTI where selectionNum = #{selectionNum}
</select>

</mapper>