<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.fairybook.mapper.AnalysisMapper">

 
<!-- 지역 선택시 세부지역 및 병원관련정보 제공 -->
<select id="selectHospital" parameterType="String" resultType="Counselor">
select * from counselor where region = #{region}
</select>

<!-- 세부지역 선택시 병원관련정보 제공-->
<select id="selectHospital1" parameterType="String" resultType="Counselor">
select * from counselor where country = #{country}
</select>

<!-- 아바타 가져오기 -->
<select id="avatarAnalysis" parameterType="int" resultType="FBResource">
	select f.resourcenum, f.analysis, f.path, f.name
	from fbresource f, madeavatar m
	where f.resourcenum in(m.face, m.nose, m.mouth, m.ear, m.neck) and m.selectionnum = #{selectionNum}
	union
	select f.resourcenum, f.analysis, c.path, c.name
	from fbresource f, resourcecolor c, (select * from madeavatar where selectionnum = #{selectionNum}) m
	where f.resourcenum = m.hair 
		and m.hair = c.resourcenum
		and m.hairColor = c.color
	union
	select f.resourcenum, f.analysis, c.path, c.name
	from fbresource f, resourcecolor c, (select * from madeavatar where selectionnum = #{selectionNum}) m
	where f.resourcenum = m.eye 
		and m.eye = c.resourcenum
		and m.eyeColor = c.color
	union
	select f.resourcenum, f.analysis, c.path, c.name
	from fbresource f, resourcecolor c, (select * from madeavatar where selectionnum = #{selectionNum}) m
	where f.resourcenum = m.body 
		and m.body = c.resourcenum
		and m.bodyColor = c.color
</select>

</mapper>