<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.fairybook.mapper.BoardMapper">
 
 <!-- 게시글 등록 -->
 	<insert id="insertBoard" parameterType="PBoard">
 		insert into
 			PBOARD
 		values
 		(
 			boardnum_seq.nextval
			,#{id}
			,#{title}
			,#{content}
			,sysdate
			,0
 		)
 	</insert>

<!--게시글 목록 불러오기  -->
	<select id="list" resultType="PBoard">
		select
			boardnum
			, id
			, title
			, content
			, to_char(inputdate, 'yyyy/mm/dd') as inputdate 
			, hit
		from
			pboard
		order by
			boardnum desc
	</select>
	
<!-- 게시글 개수  -->
	<select id="count" resultType="int">
		select
			count(*)
		from
			pboard
	</select>
	
<!-- 게시글 읽기 -->
	<select id="read" parameterType="int" resultType="PBoard">
		select
			*
		from
			pboard
		where
			boardnum = #{boardnum}
	</select>

<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="int">
		delete
		from
			pboard
		where
			boardnum = #{boardnum}
	</delete>

<!--게시글 수정  -->
	<update id="update" parameterType="PBoard">
		update
			pboard
		set
			title = #{title}
			, content = #{content}
			, hit=#{hit}
		where
			boardnum = #{boardnum}
		and
			id= #{id}
	</update>
</mapper>