<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.fairybook.mapper.ETCMapper">

<!-- StoryNum에 따른 ETC 자료들을 불러옵니다 -->
<select id="readETC" parameterType="int" resultType="FBResource">
	select 
		resourcenum, name, path
	from
		fbresource
	where
		name like '%storyNum'||#{storyNum}||'%'
	order by resourcenum
</select>

<!-- DB에서 색깔 자료의 경로를 가져옵니다 -->
<select id="readColor" parameterType="map" resultType="string">
	select
		path
	from
		resourcecolor
	where
		name like '%storyNum'|| #{storyNum} ||'%'
	and
	<choose>
	<when test="currentNum >= 10">
		name like '%selection'|| #{currentNum} ||'%'
	</when>
	<otherwise>
		name like '%selection0'|| #{currentNum} ||'%'
	</otherwise>
</choose>
	and
		name like '%'||#{color}||'%'
</select>
 
<!-- DB에 ETC를 저장합니다 -->
<insert id="saveETC" parameterType="ETC">
	insert into etc
	(selectionnum,
	selection1,
	selection2,
	selection3,
	selection4,
	selection5,
	selection6,
	selection7,
	selection8,
	selection9,
	selection10,
	selection11,
	selection12
	)
	values
	(#{selectionNum},
	<if test="storyNum == 1">
	,
	
	</if>
	 ) 
</insert>

</mapper>