<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.fairybook.mapper.ExcelMapper">

	<delete id="clearQuizTable">
		delete quiz;
	</delete>
	
	<insert id="insertQuizTable" parameterType="Quiz">
		insert into quiz (quizNum, question, select1, select2, select3, select4, answer) 
		values (#{quizNum}, #{question}, #{select1}, #{select2}, #{select3}, #{select4}, #{answer})
	</insert>
	
	<delete id="clearSceneTable">
		delete scene;
	</delete>
	
	<insert id="insertSceneTable" parameterType="Scene">
		insert 
		into scene (sceneNum, storyNum, quizNum, nextScene1, nextScene2, nextScene3, nextScene4, FBExplain, storyText1, storyText2) 
		values (#{sceneNum}, #{storyNum}, #{quizNum}, #{nextScene1}, #{nextScene2}, #{nextScene3}, #{nextScene4}, #{FBExplain}, #{storyText1}, #{storyText2})
	</insert>

</mapper>