<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.fairybook.mapper.OrderBookMapper">
 
<insert id="saveBookCover" parameterType="OrderBook">
	insert into 
		orderbook
	values
	(
		#{selectionnum}
		,sysdate
		,#{bookcover}
		,'주문'
	)
</insert>

<select id="getOrder" parameterType="int" resultType="OrderBook">
	select 
		o.selectionnum as selectionnum
		,m.id as id
		,o.orderdate as orderdate
		,o.bookcover as bookcover
		,o.currentstate as currentstate
	from
		orderbook o, myselection m
	where
		o.selectionnum = m.selectionnum
	and
		o.selectionnum = #{selectionnum} 
</select>

<delete id="deleteBookCover" parameterType="int">
	delete from
		orderbook
	where
		selectionnum = #{selectionnum}
</delete>

<select id="getStoryTitle" parameterType="int" resultType="string">
	select 
		storytitle
	from
		fairytale
	where
		storynum = (
			select 
				storynum 
			from 
				myselection 
			where 
				selectionnum = #{selectionnum}
			)
</select>

</mapper>