<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.fairybook.mapper.OrderBookMapper">
 
<insert id="saveOrder" parameterType="OrderBook">
	insert into 
		orderbook
	values
	(
		#{ordernum}
		,#{selectionnum}
		,sysdate
		,#{bookcover}
		,#{currentstate}
		,#{price}
	)
</insert>

<select id="getOrdernum" resultType="int">
	select
		seq_orderbook.currval
	from
		dual
</select>

<select id="setOrdernum" resultType="int">
	select
		seq_orderbook.nextval
	from
		dual
</select>

<select id="existCover" parameterType="int" resultType="OrderBook">
	select 
		o.ordernum as ordernum
		,o.selectionnum as selectionnum
		,m.id as id
		,o.orderdate as orderdate
		,o.bookcover as bookcover
		,o.currentstate as currentstate
	from
		orderbook o, myselection m
	where
		o.selectionnum = m.selectionnum
	and
		o.selectionnum = #{selectionnum} 
	and 
		o.currentstate not in('장바구니','주문')
</select>

<select id="getOrder" parameterType="int" resultType="OrderBook">
	select 
		o.ordernum as ordernum
		,o.selectionnum as selectionnum
		,m.id as id
		,o.orderdate as orderdate
		,o.bookcover as bookcover
		,o.currentstate as currentstate
	from
		orderbook o, myselection m
	where
		o.selectionnum = m.selectionnum
	and
		o.ordernum = #{ordernum} 
</select>

<delete id="deleteBookCover" parameterType="int">
	delete from
		orderbook
	where
		ordernum = #{ordernum}
</delete>

<select id="getStoryTitle" parameterType="int" resultType="string">
	select 
		storytitle
	from
		fairytale
	where
		storynum = (
			select 
				storynum 
			from 
				myselection 
			where 
				selectionnum = #{selectionnum}
			)
</select>

<update id="updateOrder" parameterType="OrderBook">
	update
		orderbook
	set
		orderdate=sysdate
		,bookcover=#{bookcover}
		,currentstate=#{currentstate}
		,price=#{price}
	where
		ordernum=#{ordernum}
</update>

</mapper>