<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.fairybook.mapper.SlideMapper">
 
<select id="getMyStoryList" resultType="MySelection" parameterType="string">
	select
		selectionnum, id, storynum, startdate, enddate, finished
	from
		myselection
	where 
		id = #{id}
	and
		finished = 'Y'
	order by
		enddate desc
</select>

<select id="getSlide" resultType="int" parameterType="int">
	select
		scenenum
	from
		selectiondetail
	where
		selectionnum = #{selectionNum}
	order by
		inputdate 
</select>

<select id="getLastScene" resultType="HashMap" parameterType="int">
	select
		a.scenenum scenenum, s.storytext1 storytext1, s.storytext2 storytext2
	from
		scene s, 
		(select
			scenenum
		from
			selectiondetail
		where
			selectionnum = #{selectionNum}
		and
			inputdate = 
				(select max(inputdate)
				from selectiondetail
				where selectionNum = #{selectionNum})) a
	where s.scenenum = a.scenenum
</select>

</mapper>