<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.fairybook.mapper.StoryMapper">
 
<select id="getQuiz" resultType="Quiz" parameterType="int">
	select
		quiznum, question, select1, select2, select3, select4, answer
	from
		quiz
	where
		quiznum = #{quiznum}
</select>

<select id="getScene" resultType="Scene" parameterType="map">
	select
		scenenum, storynum, quiznum, nextscene1, nextscene2, nextscene3, nextscene4, fbexplain, storytext1, storytext2
	from 
		scene
	where
		storynum = #{storyNum} and scenenum = #{sceneNum}
</select>

<insert id = "insertFairytale" parameterType = "fairytale">

</insert>

</mapper>